
body{
    background-color: #111111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #1a1a1a;
}

nav h1{
    color: #d4a373;
}


.top-picks{
    padding: 40px;
}

.top-picks h2{
    font-size: 32px;
    margin-bottom: 20px;
}

/* CARDS */
.card-container{
    display: flex;
    gap: 20px;
}

.card{
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}


button{
    background-color: #d4a373;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

button:hover{
    opacity: 0.8;
}
